body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0f7fef;
}

ul {
    list-style-type: none;
    padding: 0;
}


